{% extends "Layout/layout.twig" %}

{% block content %}

<h1 class="text-center">Add Job!</h1>

<div class="alert alert-primary" role="alert">
    {{responseMessage}}
</div>

<form enctype="multipart/form-data" action="/jobs/add" method="post" class="container">
    <div class="row justify-content-center">
        <div class="col-3 form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" type="text">
        </div>
        <br>
        <div class="col-3 form-group">
            <label for="description">Description</label>
            <input class="form-control" name="description" type="text">
        </div>
        <br>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 form-group">
            <label for="jobAvatar">Upload Image</label>
            <input type="file" name="jobAvatar" class="form-control-file"/>
            <button type="submit" class="btn btn-success btn-block mt-5" >Save</button>
        </div>
    </div>
    <br>
</form>

{% endblock %}