{% extends "Layout/layout.twig" %}

{% block content %}

<h1 class="text-center">Dashboard!</h1>

<ul>
    <li><a href="users/add">Add User!</a></li>
    <li><a href="jobs/add">Add Job!</a></li>
    <li><a href="/">Go to Curriculum!</a></li>
</ul>

<br><be>
<a href="/logout">Logout!</a>

{% endblock %}